<!DOCTYPE html>
<html>
  <head>
    <title>Eventlite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css">
    <meta name='viewport'  content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' >
  </head>

  <% if logged_in? %>
  <script type="text/javascript">
      window.currentUser =
        <%= render("/api/users/user.json.jbuilder", user: current_user).html_safe %>
  </script>
  <% end %>
  <script type="text/javascript">
      window.stickMan = "<%= image_url('stick_man.png') %>";
      window.stickManGrey = "<%= image_url('stick_man_grey.png') %>";
      window.feedImage = "<%= image_url('splash/online_events.jpeg') %>";
      window.blackHM ="<%= image_url('BlackHistoryMonth.jpg') %>"; 
      window.logoURL="<%= image_url('favicon.png')%>"
      window.placeholder="<%= image_url('image_placeholder.png')%>"
  </script>
  <body>
    <%= yield %>
  </body>
</html>
