<!DOCTYPE html>
<html>
  <head>
    <title>Eventlite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css">
    <meta name='viewport'  content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' >
    <meta property="og:title" content="Eventlite">
    <meta property="og:description" content="http://eventlite-mako.herokuapp.com

Eventlite is a clone of the self service ticketing and event promotion website. Anyone can create or find events to attend that they have a passion for or to enrich their lives. Events range from fundraisers to gaming competitions to live music events and guitar lessons. Events can be virtual or in person.

https://github.com/michaelclaytonnoble/Eventlite">
    <meta property="og:image" src="https://user-images.githubusercontent.com/31423958/116631327-b320c080-a909-11eb-8379-b4cbcccd96d3.gif">
  </head>

  <% if logged_in? %>
  <script type="text/javascript">
      window.currentUser =
        <%= render("/api/users/user.json.jbuilder", user: current_user).html_safe %>
  </script>
  <% end %>
  <script type="text/javascript">
      window.stickMan = "<%= image_url('stick_man.png') %>";
      window.stickManGrey = "<%= image_url('stick_man_grey.png') %>";
      window.feedImage = "<%= image_url('online_events.jpg') %>";
      window.blackHM ="<%= image_url('BlackHistoryMonth.jpg') %>"; 
      window.placeholder="<%= image_url('image_placeholder.png')%>"
  </script>
  <body>
    <%= yield %>
  </body>
</html>
