<!DOCTYPE html>
<html>
  <head>
    <title>Eventlite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css">
  </head>
  <% if logged_in? %>
  <script type="text/javascript">
      window.currentUser =
        <%= render("/api/users/user.json.jbuilder", user: current_user).html_safe %>
  </script>
  <% end %>
  <body>
    <%= yield %>
  </body>
</html>
